@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex;
  gap: 4rem; /* adjust spacing between logos */
  width: max-content;
  animation: marquee 20s linear infinite;
}
